git+git://github.com/progrium/stomp4py.git#egg=stomp4py
git+git://github.com/progrium/WebSocket-for-Python#egg=ws4py
gevent==0.13.3
gevent_zeromq
greenlet==0.3.1
lockfile==0.9.1
nose==1.1.2
python-daemon==1.6
setproctitle==1.1.2
wsgiref==0.1.2
